<nav class="navbar navbar-expand-lg sticky-top navbar-light" role="banner">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand" href="/" aria-label="Home - RYZE THA KIDD">
            RYZE THA KIDD
        </a>

        <button class="navbar-toggler d-lg-none" id="menu-toggle-btn" aria-label="Open Mobile Menu" aria-expanded="false" aria-controls="mobile-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-label="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about" aria-label="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="discography" aria-label="Discography">Discography</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq" aria-label="FAQ">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact" aria-label="Contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="offcanvas offcanvas-end d-lg-none custom-offcanvas" id="offcanvasNavbar" tabindex="-1" aria-labelledby="offcanvasNavbarLabel" role="dialog" aria-modal="true">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close Mobile Menu"></button>
            </div>
            <div class="offcanvas-body">
                <ul id="mobile-menu-links" class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" data-bs-dismiss="offcanvas">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about" data-bs-dismiss="offcanvas">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="discography" data-bs-dismiss="offcanvas">Discography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq" aria-label="FAQ">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact" data-bs-dismiss="offcanvas">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>